* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

table {
    border-collapse: collapse;
}

tr, td {
    border: 1px solid blueviolet;
    padding: 4px
}

tr:hover {
    background-color: gray;
    cursor: default;
}